.leftSpacing{
    margin-left:180px;
}
.navigHead{
    font-size: 22px;
    z-index: 5;
}
.fa-user-alt{
    color: white;
}
.navUl{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 60px;
    list-style: none;
    background-color: black;
    height: 85px;
    margin: 0;
    padding: 0;
    width: 100%;
}
.navUlHome{
    margin-left: 170px;
}
.navUlPerson{
    position: absolute;
    right: 165px;
}
.navUl li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 500;
}
.UlBurger{
    display: none;
    color: white;
    
}
.loubarHead{
    height: 90px;
    display: flex;
    flex-direction:row ;
    align-items: center;
    padding:0px 8% 0px 8% ;
}
.imgHead{
    width: 188px;
    height: 60px;
}
.imgHead a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.searchLine{
    position: relative;
    margin-left: 8%;
    width: 18%;
} 
.searchLine form input{
    width: 100%;
    height: 41px;
    padding-left: 46px;
    outline: none;
    font-size: 20px;
}
.searchLine form input::placeholder{
    font-size: 16px;
}
.fa-magnifying-glass{
    position: absolute;
    left: 0;
    top: 10px;
    padding-left:20px ;
}
.locationHead{
    margin-left: 12%;
}
.locationHead a span,
.locationHead a i{
    color: black;
    text-decoration: none;
    font-size: 20px;
}
.locationHead a span{
    margin-left:10px;
    font-weight: 600;
}
.locationHead a {
    text-decoration: none;
}
.telHead{
    margin-left: 55px;
    display: flex;
    flex-direction: column;
}
.telHead a {
    text-decoration: none;
}
.telHead span{
    font-size: 18px;
    font-weight: 600;
}

.telHead a span{
    color: #E8AA31;
    font-size: 20px;
    font-weight: 700;
}
.fa-chevron-down{
    color: #E8AA31;
    margin-left: 10px;
    cursor: pointer;
    font-size: 16px;
}
.heartAndCartHead{
    margin-left: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.fa-shopping-cart{
    margin-left: 30px;
}
.moneyHead{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.moneyHead span{
    font-size: 16px; 
    font-weight: 500;   
}
.moneyHead a {
    text-decoration: none;
}
.moneyHead a span{
    font-size: 16px;   
    color: #E8AA31;
    font-weight: 500; 
}

.catalogeHead{
    height: 70px;
    background-color: #141414;
    color: white;
    width: 100%;
    padding: 0 9% 0 9%;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 998;
}
.catalogeHeadOl{
    width: 100%;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding-left:0 ;
    align-items: center;
    justify-content: space-between;
}
.catalogeHeadOl li{
    letter-spacing: 0.2px;
    font-size: 18px;
    padding:24px 0px 24px 0px;
}
.catalogeHeadDown{
    width: 100%;
    height: 605px;
    background-color: black;
    position: absolute;
    left: 0;
    visibility: visible; /* ТУТ МЕНЯЕТСЯ ВИДИМОСТЬ ВЫПАДАЮЩЕГО МЕНЮ */
    margin-top: 24px;
}
.catalogeHeadOl .classForLine:hover>a{
    border-bottom: 2px solid #E8AA31;
    padding-bottom: 22px ;
}

.catalogeHeadOl .classForLine a{
}

.catalogeHeadOl li:hover>.catalogeHeadDown{
    visibility: visible;
}
.linetop{
    border-color: rgba(255, 255, 255, 0.3);
    height: 2px;
    position: absolute;
    width: 90%;
    margin: 0px 0% 0px 0% ;
    left: 5%;
    top: 80px;
}
.lineb{
    border-color: rgba(255, 255, 255, 0.3);
    height: 0px;
}
.lineb{
    margin: 25px 5% 0px 5% ;
}
.CenterDown{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.CenterDown ol{
    padding: 0;
}

.TopCatalogeHeadDownOl{
    display: flex;
    flex-direction: row;
    color: white;
    font-weight: bold;
    height: 80px;
    padding: 0;
}
.TopCatalogeHeadDownOl li{
    font-size: 16px;
    letter-spacing: 0.6px;
    font-weight: 500;
}
.DownOl{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    padding-inline-start: 0px;
    color: white;
    margin-top: 10px;
}
.DownOl li:nth-child(1){
    margin-bottom: 43px;
}
.DownOl li{
    padding:20px 0px 0px 0px;
}
.DownOl li a{
    font-size: 16px;
}
.DownOlf{
}
.DownOls{
    margin-left: 1%;
}
.DownOt{
    margin-left: 4%;
}
.DownOlfourth{
    margin-left: 3%;
}
.DownOlfifth{
    margin-left: 5%;
}
.showallCatKnife{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 12px;
    height: 80px;
    padding: 0px;
}
.showallCatKnife li:nth-child(2){
    margin-left: 134px;
}
.showallCatKnife li:nth-child(3){
    margin-left: 168px;
}
.showallCatKnife li:nth-child(4){
    margin-left: 171px;
}
.showallCatKnife li:nth-child(5){
    margin-left: 227px;
}
.showallCatKnife li{
    font-size: 16px;
    font-weight: 500; 
    color: #E8AA31;
}

/*slider*/
.AllSlide{
    margin-left: 96px;
    height:300px;
    width: 56%;
    padding: 37px 32px 0px 57px;
    z-index: 10;
    color: white;
}
.firstDivSlide{
    padding-left: 10px;
}
.descriptionSlider{
    font-weight:900;
}
.title,
.titleBott{
    font-style: normal;
    font-size: 36px;
    letter-spacing: 0.03em;
}
.title{
    margin-bottom: 30px;
    font-weight: 700;
}
.titleBott{
    display: block;
    margin-top: 18px;
    font-weight: 500;
}
.allDescription{
    display: block;
    margin-top: 12px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
}
.TitleButton{
    display: block;
    width: 228px;
    height: 50px;
    color: white;
    background-color:#E8AA31;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 20px;
    line-height: 46px;
    border-radius: 3px;
    box-shadow:0px 0px 10px #E8AA31 ;
    margin: 65px 0px 30px 0px;
}
.AllSlide .slick-dots,
.AllBlock .slick-dots{
    position: relative;
}
.AllSlide .slick-dots li.slick-active button:before,
.AllBlock .slick-dots li.slick-active button:before{
    background-color: #E8AA31;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    position: absolute;
    top: -4px;
    left: -8px;
    opacity: 1;

    animation-name:sliderCircle ;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes sliderCircle {
    0%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(22px);
    }
}

/* END SLIDER */
.AllSCard{
    width: 375px;
    height: 600px;
    box-shadow: 0px 0px 12px silver ;
    margin-top: 37px;
    margin-bottom: 61px;
    margin-left: 12px;
}
.divInImg{
    width: 374px;
    height: 295px;
}
.divInImg img{
    width: 100%;
    height: 100%;
}
.info{
    display: flex;
    justify-content: space-between;
}
.infoCard{
    padding: 0px 20px 29px 20px;
}
.raiting{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.raiting div{
    display: flex;
    flex-direction: row;
}
.raiting div img{
    width: 22px;
    height: 22px;
}
.priceAndAnother{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.AllBlock{
    display: flex;
    flex-direction: row;
    background-image: url('../images/backgroundForBlock.png');
    background-size: cover;
    width: 100%;
    border: 1px solid red;
    margin-top: 164px;
    padding:18px 0px 45px 0px;
}
.settingsText{
    width: 26%;
    display: flex;
    flex-direction: column;
    padding: 30px 66px 0px 165px;
    color: white;

}
.settingsText span:nth-child(1){
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 46px;
    letter-spacing: 0.05em;
}
.settingsText span:nth-child(2){
    display: block;
    margin-top: 30px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.03em;
}
.settingsText a{
    margin-top: 60px;
    color: #E8AA31;
    font-weight: 600;
    font-size: 20px;
    line-height: 46px;
    letter-spacing: 0.05em;
}
.settingsText a i{
    margin-left: 10px;
}
.settingsSlider{
    width: 74%;
    z-index: 3;
}

/* SLIDER IN HOME */
.upSlider{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.upSlider a{
    color: black;
}
.upSlider a i{
    color: #E8AA31;
    margin-left: 5px;
}

/* END SLIDER IN HOME */
.AllNews{
    margin-top: 120px;
    border: 2px solid green;
    padding: 0px 165px 0px 165px;
}
.nameState{
    font-weight: 700;
    font-size: 30px;
    line-height: 46px;
}
.MainContent{
    margin-top: 18px;
}
.textPart{
    display: flex;
    flex-direction: column;
    border: 1px solid blue;
    width: 376px;
    padding: 0px 26px 0px 32px;
}
.textPart span:nth-child(1){
    font-weight: 600;
    margin-top: 17px;
    font-size: 20px;
    line-height: 34px;
}
.textPart span:nth-child(2){
    margin-top: 2px;
    font-size: 16px;
    line-height: 34px;
    font-weight: 500;
}
.newsImage{
    width: 376px;
    height: 200px;
}
.newsImage img{
    width: 100%;
    height: 100%;
}

/* МЕДИА ЗАПРОСЫ */
@media (max-width:1853px) {
    .CenterDown{
        gap: 0;
    }
    .leftSpacing{
        margin-left:100px;
    }
    .DownOlfifth{
        margin-right: 0;
    }
}
@media (max-width:1600px) {
    .locationHead{
        margin-left: 4%;
    }

    .searchLine{
        margin-left: 4%;
    }

    .loubarHead{
        padding: 0 4% 0 4%;
    }
}
@media (max-width:1530px) {
    .settingsText{
        width: 40%;
    }
    .settingsSlider{
        width: 60%;
    }
    .catalogeHeadOl li{
        font-size: 14px;
    }
    .leftSpacing{
        margin-right: 5%;
    }
    .DownOl li a {
        font-size: 14px;
    }
}
@media (max-width:1400px) {
    .locationHead,
    .searchLine{
        margin-left: 1%;
    }
    .loubarHead{
        padding: 0 2% 0 2%;
    }
    .navUlHome{
        margin-left: 80px;
    }
    .navUlPerson{
        position: absolute;
        right: 140px;
    }
    .navUl li a{
        font-size: 16px;
    }
    .navUl{
        gap: 40px;
    }
    .showallCatKnife li:nth-child(2),
    .showallCatKnife li:nth-child(3),
    .showallCatKnife li:nth-child(4){
        margin-left: 10%;
    }
    .showallCatKnife li:nth-child(5){
        margin-left: 18%;
    }
    .leftSpacing{
        margin-left: 50px;
        margin-right: 3%;
    }
}
@media (max-width:1260px) {
    .settingsText{
        width: 50%;
    }
    .settingsSlider{
        width: 50%;
    }
    .catalogeHeadOl li{
        font-size: 12px;
    }
    .DownOl li a {
        font-size: 12px;
    }
    .leftSpacing{
        margin-right: 2%;
        margin-left: 2%;
    }
    .DownOlfifth{
        margin-left: 2%;
    }
}
@media (max-width:992px) {
    .catalogeHeadOl{
        flex-direction: column;
    }
    .navUlHome{
        margin-left: 20px;
    }
    .navUlPerson{
        position: absolute;
        right: 20px;
    }
    .navUl li a{
        font-size: 12px;
    }
    .navUl{
        gap: 30px;
        height: 60px;
    }
    .catalogeHeadOl li{
        font-size: 12px;
    }
    .catalogeHead{
        padding: 0 4% 0 4%;
    }
}
@media (max-width:576px) {
    .navUl{
        gap: 20px;
    }
}
@media (max-width:430px) {
    .navUlHome{
        margin-left: 9px;
    }
    .navUlPerson{
        position: absolute;
        right: 8px;
    }
    .navUl{
        gap: 8px;
    }
    .navUl li a{
        font-size: 11px;
    }
    .uCab{
        display: none;
        font-weight: 600;
    }
    .fa-user-alt{
        margin-right: 15px;
    }
}
@media (max-width:320px) {
    .UlBurger{
        display: block;
    }
    .navUl{
        flex-direction: column;
        height: 100%;
        position: fixed;
    }
    .navUlPerson{
        flex-direction: column;
        position: relative;
    }

}