.navigHead{
    font-size: 22px;
}
.fa-user-alt{
    color: white;
}
.navUl{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 60px;
    list-style: none;
    background-color: black;
    height: 85px;
    margin: 0;
    padding: 0;
    width: 100%;
}

.navUlHome{
    margin-left: 170px;
}

.navUlPerson{
    position: absolute;
    right: 165px;
}

.navUl li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.UlBurger{
    display: none;
    color: white;
    
}

.loubarHead{
    height: 90px;
    display: flex;
    flex-direction:row ;
    align-items: center;
    padding:0px 170px 0px 170px ;
}

.imgHead{
    width: 188px;
    height: 60px;
}

.imgHead a img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.searchLine{
    position: relative;
    margin-left: 160px;
} 

.searchLine form input{
    width: 375px;
    height: 41px;
    padding-left: 46px;
    outline: none;
    font-size: 20px;
}

.searchLine form input::placeholder{
    font-size: 16px;
}

.fa-search{
    position: absolute;
    left: 0;
    top: 10px;
    padding-left:20px ;
}
.locationHead{
    margin-left: 230px;
    
}

.locationHead a span,
.locationHead a i{
    color: black;
    text-decoration: none;
    font-size: 20px;
}

.locationHead a span{
    margin-left:10px;
}

.locationHead a {
    text-decoration: none;
}

.telHead{
    margin-left: 55px;
    display: flex;
    flex-direction: column;
}

.telHead a {
    text-decoration: none;

}
.telHead span{
    font-size: 18px;
}

.telHead a span{
    color: #E8AA31;
    font-size: 20px;
}

.fa-chevron-down{
    color: #E8AA31;
    margin-left: 10px;
    cursor: pointer;
    font-size: 16px;
}

.heartAndCartHead{
    margin-left: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.fa-shopping-cart{
    margin-left: 30px;
}

.moneyHead{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.moneyHead span{
    font-size: 16px;    
}

.moneyHead a {
    text-decoration: none;
}

.moneyHead a span{
    font-size: 16px;   
    color: #E8AA31;
    
}

.catalogeHead{
    height: 70px;
    background-color: #141414;
    color: white;
    padding-left: 140px;
    display: flex;
    align-items: center;
    position: relative;
}
.catalogeHeadOl{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 116px;
    
}
.catalogeHeadOl li{
    letter-spacing: 0.3px;
    font-size: 18px;
    /* border: 2px solid blue; */
    padding:24px 0px 24px 0px;
    cursor: pointer;
}


.catalogeHeadDown{
    width: 100%;
    height: 600px;
    background-color: black;
    position: absolute;
    left: 0;
    /* border: 2px solid red; */
    visibility: visible;
    margin-top: 24px;
    
}

.catalogeHeadOl li:hover{
    color: #E8AA31;
    /* border-bottom: 4px solid#E8AA31; */
}
.catalogeHeadOlKnife:hover:after,
.catalogeHeadOlKLinkKnife:hover:after,
.catalogeHeadOlSuvenir:hover:after,
.catalogeHeadOlLight:hover:after,
.catalogeHeadOlSoputTov:hover:after{
    content: '';
    border-bottom: 4px solid#E8AA31;
    position: absolute;
    top: 66px;
}

.catalogeHeadOlKnife:hover:after{
    left: 181px;
    width: 139px;
}

.catalogeHeadOlKLinkKnife:hover:after{
    left: 436px;
    width: 179px;
}

.catalogeHeadOlSuvenir:hover:after{
    left: 730px;
    width: 203px;
}

.catalogeHeadOlLight:hover:after{
    left: 1048px;
    width: 170px;
}

.catalogeHeadOlSoputTov:hover:after{
    left: 1335px;
    width: 220px;
}

.catalogeHeadOl li:hover>.catalogeHeadDown{
    visibility: visible;
}

.line{
    width: 72%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.3);
    margin-left: 180px;
}

.CenterDown{
    display: flex;
    flex-direction: row;
}

.TopCatalogeHeadDownOl{
    display: flex;
    flex-direction: row;
    color: white;
    gap: 95px;
}

.TopCatalogeHeadDownOl li{
    font-size: 16px;
}

.DownOl li{
    padding: 25px 0px 0px 0px;
    /* border: 1px solid red; */
}

.DownOl li a{
    font-size: 16px;
}


@media (max-width:1400px) {
    .navUlHome{
        margin-left: 80px;
    }
    .navUlPerson{
        position: absolute;
        right: 80px;
    }
    .navUl li a{
        font-size: 16px;
    }
    .navUl{
        gap: 40px;
    }
}

@media (max-width:992px) {
    .navUlHome{
        margin-left: 20px;
    }
    .navUlPerson{
        position: absolute;
        right: 20px;
    }
    .navUl li a{
        font-size: 12px;
    }
    .navUl{
        gap: 30px;
    }
}

@media (max-width:576px) {
    .navUl{
        gap: 20px;
    }
}

@media (max-width:400px) {
    .navUlHome{
        margin-left: 9px;
    }
    .navUlPerson{
        position: absolute;
        right: 8px;
    }
    .navUl{
        gap: 8px;
    }
    .navUl li a{
        font-size: 11px;
    }
}

@media (max-width:320px) {
    .UlBurger{
        display: block;
    }
    .navUl{
        flex-direction: column;
        height: 100%;
        position: fixed;
    }
    .navUlPerson{
        flex-direction: column;
        position: relative;
    }

}



/* 


    xxxl:1920px
    xxl: 1400px
    sm: 576px,
    md: 768px,
 */
