.slick-slider{
    z-index:-1;
}

.allTitle{
    height: 788px;
    background-image: url(../images/background-image_title.png);
    display: flex;
    flex-direction: column;
}
.slider{
    position: relative;
    display: flex;
    flex-direction: row;
    
}

.knifeTitle{
    margin-top: 35px;
}

.knifeTitle img{
    position: absolute;
    z-index: 10;
    border: 1px solid red;
}

.circle{
    position: absolute;
    width: 420px;
    height: 420px;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.5);
    right: 166px;
    top: 90px;
    z-index: 1;
}